body {
    background-image: url(../images/ton618.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 15%;
	background-color: black;
	color: white
}

/*source d'image: https://www.deviantart.com/000lemniscata000/art/TON-618-quasar-888568468 */