/*source:https://www.w3schools.com/css/css_navbar.asp*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
.navig{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.navig a {
  display: block;
  color: black;
  padding: 16px 16px;
  text-decoration: none;
}

/* Change the link and background color on hover */
.navig a:hover {
  background-color: #555555;
  color: white;
}

li a.active {
  background-color: #c1c1c1;
  color: black;
}

li a:hover.active {
  background-color: #c1c1c1;
  color: black;
}

body {
	font-family: 'Brush Script MT', cursive;
}
