body {
    background-image: url(https://user-images.githubusercontent.com/62529128/200467049-2b26a0ed-36cc-4f78-b8e8-8d22ee614035.gif);
    background-size: 2100px 1200px;
    background-repeat: no-repeat;
    background-position: center;
	background-color: black;
	text-align: center;
	color: white;
	font-family: 
}
/*source du code https://css-tricks.com/almanac/properties/b/background/background-image/#:~:text=Chris%20Coyier%20on%20Feb%2017,and%20cons%20of%20Data%20URIs. */